<button class="btn btn-primary" (click)="loadCourses()">Load courses</button>
<div *ngIf="courses.length > 0; else null">
  <ul>
    <li *ngFor="let course of courses">
      {{ course.name }}
    <button class="btn btn-danger" (click)="onRemove(course)">Del</button>
    </li>
  </ul>
</div>

<ng-template [ngIf]="courses.length > 0">
  <ul>
    <li *ngFor="let course of courses">
      {{ course.name }}
    <button class="btn btn-danger" (click)="onRemove(course)">Del</button>
    </li>
  </ul>
</ng-template>

<ng-template [ngIf]="!(courses.length > 0)">
  No courses
</ng-template>
